<html>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <head>
        <title>Public Radio Is Supported By</title>
    </head>
    <body style="font-family: 'Gotham SSm',Helvetica,Arial,sans-serif;">
    <div style="text-align: center; width: 63%; position: absolute; left: 15%; top: 13%; font-size: x-large; padding: 1em; border: medium rgb(230,230,230) solid;">
        <div style="position: relative; color: white; background-color: rgb(91,117,183); padding: 1em;">public radio is supported by</div>
        <%= phrase %>
        <div style="position: relative; color: white; background-color: rgb(91,117,183); padding: 1em;">and donations from listeners like you.</div>
    </div>

    <div style="position: fixed; bottom: 10%; left: 45%; font-size: 0.6em; color: gray; font-family: Helvetica, Sans-Serif"><a href="https://twitter.com/danslimmon">Dan Slimmon made this</a></div>
    </body>
</html>
